
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   <link rel="stylesheet" href="~/styles/NavBar.css" />
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
    <header>
        @await Component.InvokeAsync("Navbar")

    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <!-- Your footer content here -->
    </footer>

</html>

