@model PetShopClientServise.DtoModels.HeaderModel.NavbarModel

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   <link rel="stylesheet" href="~/styles/NavBar.css" />
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

@{
    var res = Model.IsAuthenticated ? "Yea" : "No";
    var userModel = Model!.UserModelForClient!.Username ?? "Unknown";
    var permissions = Model.UserModelForClient.Roles ?? new List<string>() { };
}

<nav id="navbar" class="nav-menu">
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
           
        @{
            if(permissions.Contains("Administrators"))
            {
                 <li><a  style="float: right" asp-controller="Admin" asp-action="Index">Admin</a></li>
            }
            if (Model.IsAuthenticated)
            {
                <li  style="float: right" ><a style="float: right" asp-controller="Account" asp-action="UserPage" >@userModel 🤵🏻‍</a></li>
                <li  style="float: right"><a asp-controller="Account" asp-action="Logout">Logout</a></li>
            }
            else
            {
                <li  style="float: right" ><a style="float: right" asp-controller="Account" asp-action="Login" >Login</a></li>
                <li style="float: right"><a style="float: right" asp-controller="Account" asp-action="Register">Register</a></li>
            }
        }
    </ul>
</nav>