
<head>
    <link rel="stylesheet" href="~/styles/Filters/BtnRemoveAllFilters.css">
</head>

<div class="centeredContainer">
    <form asp-action="RemoveAllFilters" asp-controller="Filter">
        <input class="btnRemoveAllFilter" type="submit" value="Remove All Filters" />
    </form>
</div>