body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.animal-details-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

.animal-details-container {
    max-width: 700px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.animal-title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

    .animal-title:before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -20px;
        transform: translateX(-50%);
        width: 60px;
        height: 4px;
        background-color: #007BFF;
    }

.animal-image {
    display: block;
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    transition: transform 0.3s;
    margin:auto;
}

    .animal-image:hover {
        transform: scale(1.05);
    }

.animal-info {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.comments-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.comments-list {
    list-style-type: none;
    padding-left: 0;
}

.comment-item {
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    transition: background-color 0.3s, box-shadow 0.3s;
}
    .comment-item:hover {
        background-color: #e9ecef;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
/* Styles for the .addCommentForm div */
.addCommentForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

    /* Styles for the .addCommentForm form */
    .addCommentForm form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Styles for the .addCommentForm input[type="text"] */
    .addCommentForm input[type="text"] {
        width: 300px;
        height: 40px;
        padding: 10px;
        margin: 10px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        font-size: 16px;
        color: #333;
        background-color: #f9f9f9;
    }

    /* Styles for the .addCommentForm button[type="submit"] */
    .addCommentForm button[type="submit"] {
        width: 100px;
        height: 40px;
        margin: 10px;
        border: none;
        border-radius: 5px;
        background-color: #009688;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

        /* Styles for the .addCommentForm button[type="submit"] on hover */
        .addCommentForm button[type="submit"]:hover {
            background-color: #00796b;
        }
.show-comments-btn,
.hide-comments-btn {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 100%; 
    font-weight: bold;


}
.show-comments-btn:hover,
.hide-comments-btn:hover {
    background-color: #0069d9;
}


.hide-comments-btn {
    display: none;
}

.centerice{
    text-align:center;
}
.animal-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 30px;
    border: 0.5px solid #e9ecef;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.animal-age,
.animal-category {
    display: flex;
    align-items: center;
}

.animal-age {
    margin-right: 20px;
}

.animal-age strong,
.animal-category strong {
    margin-right: 10px;
}

    .animal-age span,
    .animal-category span {
        font-weight: normal;
    }

.delete-comment {
    color: #dc3545;
    text-decoration: none;
    border: 1px solid #dc3545;
    border-radius: 4px;
    padding: 4px 8px;
    transition: background-color 0.3s ease-in-out;
    float: right;
}

    .delete-comment:hover {
        background-color: #dc3545;
        color: #fff;
        cursor: pointer;
    }

.update-comment {
    color: orange;
    text-decoration: none;
    border: 1px solid orange;
    border-radius: 4px;
    padding: 4px 8px;
    transition: background-color 0.3s ease-in-out;
    float : left;
    margin-top: -5px; 
    
  
}

.update-comment:hover {
    background-color:orange;
    color: #fff;
    cursor: pointer;
}

.submit-comment {
    color: #fff;
    text-decoration: none;
    border: 1px solid #007BFF;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    transition: background-color 0.3s ease-in-out;
    background-color: dodgerblue;
}

.submit-comment:hover {
    background-color: darkblue;
    color: #fff;
    cursor: pointer;
}

.input-comment-txt{

    width: 300px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border: 0.5px solid #e9ecef;
border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.description-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    border-bottom : 1px solid #e9ecef;
}

.description-content {
    font-size: 16px;
    line-height: 1.5;
    max-width: 500px;
    text-align: center;
    color: #666;
    border : 1px solid #e9ecef;
    border-radius: 10px;
    padding: 10px;
}
