@model PetShopClientServise.DtoModels.LoginModel; 

@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="~/styles/Account/Login.css" />
</head>
@{
    var status = ViewBag.Status;
}

<div class="login-container">
    <h2>Login</h2>
    <form method="post" asp-action="Login" asp-controller="Account">
        <div class="form-group">
            <input placeholder="username" type="text" id="username" name="username" asp-for="Username" class="form-control" />
        </div>
        <div class="form-group">
            <input placeholder="password" type="password" id="password" name="password" asp-for="Password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a class="register-link" asp-action="Register" asp-controller="Account">New? register now >></a>
        <p class="errMsg">@status</p>
    </form>
</div>