@model PetShopClientServise.DtoModels.Categories

<!DOCTYPE html>
<html>
<head>
	<title>Add Category</title>
<link rel="stylesheet" href="~/styles/Forms/AddCategoryForm.css" />
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="~/ValidationForms/CategoryFormValidation.js"></script>
</head>
<body>
	<div class="addCategoryForm">

		<h2>Add Category</h2>
		<form method="post"  asp-action="AddCategory" asp-controller="Admin">
		 <label for="Name">Category Name:</label>
			<input type="text" id="Name" name="Name" required>
			<span class="error-message" style="display: none;">Please enter a category name.</span>
			<button type="submit">Add Category</button>
		</form>
	</div>
</body>
</html>