      
<head>
    <link rel="stylesheet" href="~/styles/Admin/AdminDashboard.css" />
</head>  
<nav class="AdminNavbar">
    <ul>
        <li><a asp-controller="Admin" asp-action="Index">Index</a></li>
        <li><a asp-controller="Admin" asp-action="AnimalOverview">Animal Overview</a></li>
        <li><a asp-controller="Admin" asp-action="AddAnimal">Add Animal</a></li>
        <li><a asp-controller="Admin" asp-action="CategoryOverview">Categories Overview</a></li>
        <li><a asp-controller="Admin" asp-action="AddCategotyForm">Add Categoty</a></li>
    </ul>
</nav>
